<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Baocaogiuaky"
        tools:targetApi="31">
        <activity
            android:name=".Van.ketquatracnghiem"
            android:exported="false" />
        <activity
            android:name=".Van.Choice3Activity"
            android:exported="false" />
        <activity
            android:name=".Van.Choice0Activity"
            android:exported="false" />
        <activity
            android:name=".Van.Choice2Activity"
            android:exported="false" />
        <activity
            android:name=".Van.Choice1Activity"
            android:exported="false" />
        <activity
            android:name=".Van.Slide4Activity"
            android:exported="false" />
        <activity
            android:name=".Van.Slide3Activity"
            android:exported="false" />
        <activity
            android:name=".Van.Slide2Activity"
            android:exported="false" />
        <activity
            android:name=".Van.Silide1Activity"
            android:exported="false" />
        <activity
            android:name=".Nhan.AnswerTrueActivity"
            android:exported="false" />
        <activity
            android:name=".Nhan.AnswerFalseActivity"
            android:exported="false" />
        <activity
            android:name=".Nhan.ShowDetailCowActivity"
            android:exported="false" />
        <activity
            android:name=".Nhan.ResultWrittingActivity"
            android:exported="false"
            android:label="@string/title_activity_result_writting" />
        <activity
            android:name=".Nhan.CheckWritting2Activity"
            android:exported="false" />
        <activity
            android:name=".Nhan.CheckWritting1Activity"
            android:exported="false" />
        <activity
            android:name=".Nhan.EditFlashcardActivity"
            android:exported="false" />
        <activity
            android:name=".Nhan.CreateActivity"
            android:exported="false" />
        <activity
            android:name=".Nhan.ShowFlashcardcowActivity"
            android:exported="false" />
        <activity
            android:name=".Nhan.CheckWriting1"
            android:exported="false" />
        <activity
            android:name=".Nhan.CheckWriting2"
            android:exported="false" />
        <activity
            android:name=".Nhan.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Nhan.EditActivity"
            android:exported="false" />
        <activity
            android:name=".Nhan.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".Nhan.ShowFlashcard1"
            android:exported="false" />
        <activity
            android:name=".Nhan.ShowFlashcard2"
            android:exported="false">
        </activity>
        <activity
            android:name=".Nhan.MainFlashcard"
            android:exported="false">

        </activity>
        <activity
            android:name=".Nhan.GroupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".EditFolderActivity"
            android:exported="false" />
        <activity
            android:name=".CreateFolderActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />

    </application>

</manifest>